@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Heebo&family=Lato:wght@400;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
  font-family: 'Archivo', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.01em;
  color: #3C827A;
  margin-bottom: 30px;
}

h4 {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #3C827A;
  text-transform: uppercase;
}

p {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #000000;
}

ol {
  counter-reset: item;
}

ol li {
  font-family: 'Heebo', 'Helvetica', sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
  color: #3C827A;
  display: block;
}

ol li:before {
  display: inline-block;
  text-align: center;
  width: 48px;
  padding: 2px 0;
  content: counter(item) " ";
  counter-increment: item;
  border: 6px solid #4CA897;
  border-radius: 48px;
  margin-right: 38px;
}

ul li {
	font-family: 'Heebo', 'Helvetica', sans-serif;
	font-weight: 400;
	letter-spacing: 0.01em;
}

ul li a {
	transition: color .5s ease;
	color: #000000;
	text-decoration: none;
	display: flex;
	align-items: center;
}

ul li a:hover {
	color: #3C827A;
}

ul li a::after {
	transition: all .3s ease;
	content: '';
	background-image: url('../images/fork.svg');
	height: 30px;
	width: 30px;
	background-size: cover;
	display: inline-block;
	margin-left: 10px;
	opacity: 0;
}

ul li a:hover::after {
	transform: translate(10px);
	opacity: 1;
}
